# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives and dSYM files
*.xcarchive
*.dSYM.zip
*.dSYM

# Firebase / Google
GoogleService-Info.plist

# Configuration files (keep only template)
Info.plist
*.xcconfig
Secrets.plist

# Others
.idea/
*.log
*.tmp
*.swp
